<div fxLayout="row" fxLayoutAlign="start center" class="header">
  <span fxFlex="110px">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active">
      <img height="50px" src="assets/stemlogo.jpg" />
    </a>
  </span>
  <div fxFlex>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="60">
        <a mat-button>Home</a>

        <a mat-button>About Us</a>

        <a mat-button>Partners</a>

        <a mat-button>Calendar</a>

        <a mat-button>Get Involved</a>

        <a mat-button>Etc</a>
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="end">
        <ng-container fxFlex *ngIf="currentUser; then loggedIn; else loggedOut"> </ng-container>
        <ng-template #loggedIn>
          <div>
            <span>
              <a [routerLink]="['/events/add']" mat-button>Add Event</a>
            </span>
            <span style="width:200px;">
              <mat-menu #appMenu="matMenu">
                <button mat-menu-item [routerLink]="['/profile/view']">My Profile</button>
                <button mat-menu-item (click)="logout()">Logout</button>
              </mat-menu>
              <button mat-button [matMenuTriggerFor]="appMenu">
                {{ currentUser.firstName }} {{ currentUser.lastName }}
                <mat-icon>keyboard_arrow_down</mat-icon>
              </button>
            </span>
          </div>
        </ng-template>
        <ng-template #loggedOut>
          <div>
            <span></span>
            <span>
              <a [routerLink]="['/register']" mat-button>Register</a>
            </span>
            <span>
              <a [routerLink]="['/login']" mat-button>Logon</a>
            </span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
