.container {
  display: table;
  margin: 0 auto;

  width: 100%;
  padding-left:25px;
  padding-right:25px;
  padding-top: 25px;
  max-width: 650px;
  min-width: 250px;
}

.terms {
  text-decoration: underline;
  color:blue;
  &:hover {
    cursor: pointer;
  }
}
