<div style="width:300px">
  <h2 mat-dialog-title>Update Password</h2>

  <mat-dialog-content [formGroup]="updateForm">
    <div fxLayout="column">
        <mat-form-field fxFlex>
            <input matInput placeholder="Current Password" formControlName="currentPassword" />
            <mat-error *ngIf="updateForm.get('currentPassword').invalid">
              <!-- {{ getErrorMessage('userGroup', 'firstName') }} -->
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
          <input matInput placeholder="New Password" formControlName="newPassword" />
          <mat-error *ngIf="updateForm.get('newPassword').invalid">
            <!-- {{ getErrorMessage('userGroup', 'firstName') }} -->
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Confirm New Password" formControlName="confirmNewPassword" />
          <mat-error *ngIf="updateForm.get('confirmNewPassword').invalid">
            <!-- {{ getErrorMessage('userGroup', 'lastName') }} -->
          </mat-error>
        </mat-form-field>
      </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">
      Close
    </button>

    <button class="mat-raised-button mat-primary" (click)="save()">
      Save
    </button>
  </mat-dialog-actions>
</div>
