<div class="container, nav"
     fxLayout
     fxLayoutAlign="center center"
     fxLayoutGap="0px">
  <div class="itemleft" fxFlex><a href="landing"><img src="stemlogo.jpg"/></a></div>
  <div fxFlex="row">
    <div class="container" fxLayout="row wrap">
        <button class="menubutton" mat-stroked-button>Home</button>
        <button class="menubutton" mat-stroked-button>About Us</button>
        <button class="menubutton" mat-stroked-button>Partners</button>
        <button class="menubutton" mat-stroked-button>Calendar</button>
        <button class="menubutton" mat-stroked-button>Get Involved</button>
        <button class="menubutton" mat-stroked-button>Etc</button>
    </div>
  </div>
  <div class="itemright" fxFlex>
    <button class="menubutton" mat-button routerLink="/login">Login</button>
  </div>
</div>

<div class="container"
     fxLayout="column" fxLayoutAlign="center center">
  <p> Please Register....</p>
  <p><a routerLink="/register">Register</a></p>
  <div fxFlex class="event" *ngFor="let event of events">
    <mat-card-title>{{ event.name }}</mat-card-title>
    <mat-card-content>
      {{ event.date }}
    </mat-card-content>
    <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{ event.event_type }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>


  </div>
</div>
