<div class="container" fxLayout="row" fxLayout.lt-md="column">
  <div fxFlex>
    <div class="containerfor">
      <form [formGroup]="registerForm">
        <div class="formheader">
          <strong>Omaha STEM Ecosystem Parent Registration</strong>
        </div>
        <mat-divider></mat-divider>

        <div fxLayout="row wrap" fxLayoutAlign="space-between" formGroupName="userGroup">
          <mat-form-field fxFlex="48" fxFlex.lt-sm="90">
            <input matInput placeholder="First Name" formControlName="firstName" />
            <mat-error *ngIf="registerForm.get('userGroup').get('firstName').invalid">
              {{ getErrorMessage('userGroup', 'firstName') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48" fxFlex.lt-sm="90">
            <input matInput placeholder="Last Name" formControlName="lastName" />
            <mat-error *ngIf="registerForm.get('userGroup').get('lastName').invalid">
              {{ getErrorMessage('userGroup', 'lastName') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48" fxFlex.lt-sm="90">
            <input matInput placeholder="Date of Birth" formControlName="dob" />
          </mat-form-field>

          <mat-form-field fxFlex="48" fxFlex.lt-sm="90">
            <input matInput placeholder="Phone Number" formControlName="phone" />
          </mat-form-field>

          <mat-form-field fxFlex="100" fxFlex.lt-sm="90">
            <input matInput placeholder="Email Address" formControlName="email" />
            <mat-error *ngIf="registerForm.get('userGroup').get('email').invalid">
              {{ getErrorMessage('userGroup', 'email') }}
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-between" formGroupName="addressGroup">
          <mat-form-field fxFlex="100" fxFlex.lt-sm="90">
            <input matInput placeholder="Address" />
          </mat-form-field>
          <mat-form-field fxFlex="58" fxFlex.lt-sm="90">
            <input matInput placeholder="City" />
          </mat-form-field>
          <mat-form-field fxFlex="18" fxFlex.lt-sm="90">
            <input matInput placeholder="State" />
          </mat-form-field>
          <mat-form-field fxFlex="18" fxFlex.lt-sm="90">
            <input matInput placeholder="Zip Code" />
          </mat-form-field>
        </div>

        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between"
          formGroupName="loginGroup"
          style="margin-top:25px;"
        >
          <mat-form-field fxFlex="60" fxFlex.lt-sm="90" >
            <input matInput placeholder="Username" formControlName="username" />
            <mat-error *ngIf="registerForm.get('loginGroup').get('username').invalid">
              {{ getErrorMessage('loginGroup', 'username') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48" fxFlex.lt-sm="90">
            <input matInput type="password" placeholder="Password" formControlName="password" />
            <mat-error *ngIf="registerForm.get('loginGroup').get('password').invalid">
              {{ getErrorMessage('loginGroup', 'password') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="48"fxFlex.lt-sm="90">
            <input
              matInput
              type="password"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
            />
            <mat-error *ngIf="registerForm.get('loginGroup').get('confirmPassword').invalid">
              {{ getErrorMessage('loginGroup', 'confirmPassword') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div style="text-align: center; font-size: smaller; margin-top:20px;">
          By clicking the <b>complete registration</b> button, you are accepting our
          <span class="terms" (click)="openTermsDialog()">terms of use policy</span>.
        </div>
        <div style="text-align: center; margin-top:20px; margin-bottom:20px;">
          <button mat-raised-button>Complete Registration</button>
        </div>
      </form>
    </div>
  </div>

  <div fxFlex="30">
    <div class="containerstem">
      <img src="../../assets/images/OSE-Logo-for-Website--300x216.jpg" />
      <p><strong>Find Us</strong></p>
      <p>
        <strong>Address</strong>
        <br />
        3701 South 10th Street
        <br />
        Omaha, NE 68107
      </p>
      <a href="mailto:info@omahastem.com">info@omahastem.com</a>
    </div>
  </div>
</div>
