<div style="width:500px">
  <h2 mat-dialog-title>Update Parent Profile</h2>

  <mat-dialog-content [formGroup]="updateForm">
    <div fxLayout="column">
      <div fxFlex fxLayout="row" fxLayoutGap="20px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="0px">
        <mat-form-field fxFlex>
          <input matInput placeholder="First Name" formControlName="firstName" />
          <mat-error *ngIf="updateForm.get('firstName').invalid">
            <!-- {{ getErrorMessage('userGroup', 'firstName') }} -->
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput placeholder="Last Name" formControlName="lastName" />
          <mat-error *ngIf="updateForm.get('lastName').invalid">
            <!-- {{ getErrorMessage('userGroup', 'lastName') }} -->
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex fxLayout="row" fxLayoutGap="20px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="0px">
        <mat-form-field fxFlex>
          <input matInput placeholder="Date of Birth" formControlName="dob" />
        </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput placeholder="Phone Number" formControlName="phone" />
        </mat-form-field>
      </div>

      <mat-form-field fxFlex>
        <input matInput placeholder="Email Address" formControlName="email" />
        <mat-error *ngIf="updateForm.get('email').invalid">
          <!-- {{ getErrorMessage('userGroup', 'email') }} -->
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput placeholder="Address" formControlName="address" />
        <mat-error *ngIf="updateForm.get('address').invalid">
          <!-- {{ getErrorMessage('userGroup', 'email') }} -->
        </mat-error>
      </mat-form-field>

      <div fxFlex fxLayout="row" fxLayoutGap="20px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="0px">
        <mat-form-field fxFlex>
          <input matInput placeholder="City" formControlName="city" />
          <mat-error *ngIf="updateForm.get('city').invalid">
            <!-- {{ getErrorMessage('userGroup', 'email') }} -->
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100px">
          <input matInput placeholder="State" formControlName="state" />
          <mat-error *ngIf="updateForm.get('state').invalid">
            <!-- {{ getErrorMessage('userGroup', 'email') }} -->
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100px">
          <input matInput placeholder="Zip" formControlName="zip" />
          <mat-error *ngIf="updateForm.get('zip').invalid">
            <!-- {{ getErrorMessage('userGroup', 'email') }} -->
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">
      Close
    </button>

    <button class="mat-raised-button mat-primary" (click)="save()">
      Save
    </button>
  </mat-dialog-actions>
</div>
