<div fxLayout="row" class="header">
    <div class="container, nav"
     fxLayout="row"
     fxLayoutAlign="center center"
     fxLayoutGap="0px"
         fxFill>
      <div class="itemleft" fxFlex>
        <a href="home"><img src="stemlogo.jpg"/></a></div>
        <div fxFlex="row">
        <div class="container" fxLayout="row wrap">
          <button class="navbutton" mat-stroked-button>Home</button>
          <button class="navbutton" mat-stroked-button>About Us</button>
          <button class="navbutton" mat-stroked-button>Partners</button>
          <button class="navbutton" mat-stroked-button>Calendar</button>
          <button class="navbutton" mat-stroked-button>Get Involved</button>
          <button class="navbutton" mat-stroked-button>Etc</button>
        </div>
      </div>
      <div fxLayout="row">
      <!-- Hide button if user is logged in  -->
      <div fxFlex >
        <button class="navbutton" [routerLink]="['/register']" routerLinkActive="router-link-active" mat-stroked-button>Register</button>
      </div>
      <!-- Hide button if user is logged in  -->
      <div fxFlex>
        <button class="navbutton" [routerLink]="['/login']" routerLinkActive="router-link-active" mat-stroked-button>
          Login
        </button>
      </div>
    </div>
  </div>
</div>

