<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="700px" fxFlex.lt-md="550px" fxLayout="column">
    <div class="header">
      Omaha STEM Ecosystem
      <mat-divider></mat-divider>
    </div>
    <div fxFlex>
        <img src="../../../assets/images/Stem2.png" class="headerimage">
    </div>
    <div fxFlex class="toptext">
      <h4>Please enter your email address and password to continue</h4>
    </div>
    <div fxFlex *ngIf="error" class="loginerror">
      {{error}}
    </div>
    <div fxFlex class="formcontainer">
      <form novalidate (ngSubmit)="onSubmit()" [formGroup]="loginForm" fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Email Address" formControlName="email" />
          <mat-error *ngIf="loginForm.get('email').invalid">
            {{ getErrorMessage('email') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password" />
          <mat-error *ngIf="loginForm.get('password').invalid">
            {{ getErrorMessage('password') }}
          </mat-error>
        </mat-form-field>

        <div class="login">
          <button type="login" mat-raised-button [disabled]="!loginForm.valid" class="loginbutton">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
