.card:hover {
  cursor: pointer;
}

.add-button {
  height: 50px;
}

.header {
  margin-top:25px;
  font-size:24px;
  font-weight: bold;
}

.parentinfo {
  margin-top:25px;
  margin-bottom:25px;
}

.authchild {
  margin-top:25px;
}

.container {
  margin-left:50px;
}

th {
  padding-right:15px;
}

td, th {
  text-align: left;
  padding-bottom:10px;
}
