<div class="container" fxLayout="row" fxLayout.lt-md="column">
  <div fxFlex>
    <div fxLayout="column">
      <div fxFlex class="header">
        My Profile
      </div>

      <mat-divider fxFlex></mat-divider>

      <div fxFlex fxLayout="row" class="parentinfo">
        <div fxFlex="25">
          <b>Personal Information</b>
        </div>
        <div fxFlex fxLayout="row">
          <div fxFlex>
              <table>
                  <tr>
                    <th>Name:</th>
                    <td>{{profileUser.first_name}} {{profileUser.last_name}}</td>
                  </tr>
                  <tr>
                    <th>Date of Birth:</th>
                    <td>{{profileUser.date_of_birth | date: 'MM/dd/yyyy' }}</td>
                  </tr>
                  <tr>
                    <th>Phone:</th>
                    <td>{{profileUser.phone}}</td>
                  </tr>
                  <tr>
                    <th>
                      Email:
                    </th>
                    <td>
                      {{profileUser.email}}
                    </td>
                  </tr>
                  <tr>
                    <th>Address:</th>
                    <td>{{profileUser.address}}<br>{{profileUser.city}}, {{profileUser.state}} {{profileUser.zip_code}}</td>
                  </tr>
                  <tr>
                    <th>Interests:</th>
                    <td>{{profileUser.interests.length === 0 ? "None" : profileUser.interests.join(', ')}}</td>
                  </tr>
                </table>
          </div>
          <div fxFlex="150px">
            <div style="text-align:right">
                <button mat-button color="primary" (click)="updateProfile()" >Update Personal Info</button>
            </div>
            <div style="margin-top:10px;text-align:right">
                <button mat-button color="primary" (click)="changePassword()">Change Password</button>
            </div>
          </div>

        </div>
      </div>

      <mat-divider fxFlex *ngIf="userType === 2"></mat-divider>

      <div fxFlex fxLayout="row" class="authchild" *ngIf="userType === 2">
        <div fxFlex="25">
          <b>Authorized Children</b>
        </div>

        <div fxFlex fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start center">
          <mat-card *ngFor="let child of profileUser.children" fxFlex="150px" matTooltip="Update child profile" class="card" (click)="updateChildProfile(child)">
            <mat-card-content style="text-align:center;">
              <img style="height:100px;" src="../../../assets/images/persongeneric.png" />
            </mat-card-content>
            <mat-card-footer style="text-align:center;margin-left:1px;margin-right:1px;margin-bottom:2px;  overflow: hidden;
              text-overflow: ellipsis;">
              {{child.first_name}}
            </mat-card-footer>
          </mat-card>

          <button class="add-button" mat-raised-button matTooltip="Add child profile" [routerLink]="['/profile/childadd']">
            <i class="fas fa-plus-circle fa-2x"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex="30">
    <app-contactus></app-contactus>
  </div>
</div>
