<div class="container">
  <div *ngFor="let carousel of eventCarousels">
    <div class="tag">
      <h5>{{carousel.name}}</h5><br>
    </div>

    <owl-carousel [options]="mySlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
      <div *ngFor="let event of carousel.events">
        <app-event-list [name]="event.name" [date]="event.date" [event_type]="event.event_type" [tags]="event.tags" [event_address]="event.address" [id]="event.id" [can_edit]="userType === 3 && approvedToPostEvents === true">
        </app-event-list>
      </div>
    </owl-carousel>
    <mat-divider></mat-divider>
  </div>
</div>
