.nav{
  height:45px;
  background-color:darkblue;
  color:white;
  padding-right:20px;
  padding-left: 20px;
}

.itemright {
  text-align: right;
}

.itemleft {
  text-align: left;
}

.menubutton {
  background-color:darkblue;
  color:white;
}
