<div class="container, nav"
     fxLayout
     fxLayoutAlign="center center"
     fxLayoutGap="0px">
  <div class="itemleft" fxFlex="200px;">STEM-Ecosystem</div>
  <div fxFlex>
    <button class="menubutton" mat-button>Item 1</button>
    <button class="menubutton" mat-button>Item 2</button>
    <button class="menubutton" mat-button>Item 3</button>
  </div>
  <div class="itemright" fxFlex>
    <button class="menubutton" mat-button routerLink="/login">Login</button>
  </div>
</div>

<div class="container"
     fxLayout="column" fxLayoutAlign="center center">
  <p>Welcome......</p>
  <p>All sorts of stuff here.....</p>
  <p> Please Register....</p>
  <p><a routerLink="/register">Register</a></p>
</div>
