<div class="container" fxLayout="row" fxLayout.lt-md="column">
  <div fxFlex>
    <div class="formcontainer">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="formheader">
          <strong>Omaha STEM Ecosystem Registration</strong>
          <mat-divider></mat-divider>
        </div>
        <div class="errormessage" *ngIf="error">{{error}}</div>

        <div class="registrationsection">
          Registration Type:
          <mat-radio-group formControlName="regType">
            <mat-radio-button class="registrationbutton" value="p" [disableRipple]="true" checked>Parent
            </mat-radio-button>
            <mat-radio-button class="registrationbutton" value="o" [disableRipple]="true">Organization
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between" formGroupName="userGroup">
          <mat-form-field fxFlex="100" fxFlex.lt-sm="90" *ngIf="registerForm.get('regType').value === 'o'">
            <input matInput placeholder="Organization Name*" formControlName="organizationName" *ngIf="registerForm.get('regType').value === 'o'"/>
            <mat-error *ngIf="registerForm.get('userGroup').get('organizationName').invalid">
              {{ getErrorMessage('userGroup', 'organizationName') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48" fxFlex.lt-sm="90">
            <input matInput placeholder="First Name*" formControlName="firstName" />
            <mat-error *ngIf="registerForm.get('userGroup').get('firstName').invalid">
              {{ getErrorMessage('userGroup', 'firstName') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48" fxFlex.lt-sm="90">
            <input matInput placeholder="Last Name*" formControlName="lastName" />
            <mat-error *ngIf="registerForm.get('userGroup').get('lastName').invalid">
              {{ getErrorMessage('userGroup', 'lastName') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48" fxFlex.lt-sm="90">
            <input type="date" matInput placeholder="Date of Birth" formControlName="dob" />
            <mat-error *ngIf="registerForm.get('userGroup').get('dob').invalid">
              {{ getErrorMessage('userGroup', 'dob') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48" fxFlex.lt-sm="90">
            <input matInput placeholder="Phone Number" formControlName="phone" />
            <mat-hint align="start">Format: ###-###-####</mat-hint>
            <mat-error *ngIf="registerForm.get('userGroup').get('phone').invalid">
              Invalid phone number. Format: ###-###-####
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-between" formGroupName="addressGroup">
          <mat-form-field fxFlex="100" fxFlex.lt-sm="90">
            <input matInput placeholder="Address" formControlName="address" />
            <mat-error *ngIf="registerForm.get('addressGroup').get('address').invalid">
              {{ getErrorMessage('addressGroup', 'address') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="58" fxFlex.lt-sm="90">
            <input matInput placeholder="City" formControlName="city" />
            <mat-error *ngIf="registerForm.get('addressGroup').get('city').invalid">
              {{ getErrorMessage('addressGroup', 'city') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="18" fxFlex.lt-sm="90">
            <input matInput placeholder="State" [matAutocomplete]="auto" formControlName="state" />
            <mat-autocomplete autoActiveFirstOption [panelWidth]="150" #auto="matAutocomplete">
              <mat-option *ngFor="let state of filteredStates | async" [value]="state.abbreviation">
                {{state.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="registerForm.get('addressGroup').get('state').invalid">
              {{ getErrorMessage('addressGroup', 'state') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="18" fxFlex.lt-sm="90">
            <input matInput placeholder="Zip Code" formControlName="zip" />
            <mat-error *ngIf="registerForm.get('addressGroup').get('zip').invalid">
              Invalid zip code
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-between" formGroupName="loginGroup" style="margin-top:10px;">
          <mat-form-field fxFlex="100" fxFlex.lt-sm="90">
            <input matInput placeholder="Email Address*" formControlName="email" />
            <mat-error *ngIf="registerForm.get('loginGroup').get('email').invalid">
              {{ getErrorMessage('loginGroup', 'email') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48" fxFlex.lt-sm="90">
            <input matInput type="password" placeholder="Password*" formControlName="password"/>
            <mat-error *ngIf="registerForm.get('loginGroup').get('password').invalid">
              Must contain 8 - 20 characters: 1 upppercase, 1 lowercase, 1 number.
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="48" fxFlex.lt-sm="90">
            <input matInput type="password" placeholder="Confirm Password*" formControlName="confirmPassword" />
            <mat-error *ngIf="registerForm.get('loginGroup').get('confirmPassword').invalid">
              {{ getErrorMessage('loginGroup', 'confirmPassword') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="reqmessage">*Indicates Required</div>
        <div class="termsmessage">
          By clicking the <b>complete registration</b> button, you are accepting our
          <span class="terms" (click)="openTermsDialog()">terms of use policy</span>.
        </div>
        <div class="submitsection">
          <button type="submit" mat-raised-button [disabled]="!registerForm.valid">Complete Registration</button>
        </div>
      </form>
    </div>
  </div>

  <div fxFlex="30">
    <div class="containerstem">
      <img src="../../assets/images/OSE-Logo-for-Website--300x216.jpg" />
      <p><strong>Find Us</strong></p>
      <p>
        <strong>Address</strong>
        <br />
        3701 South 10th Street
        <br />
        Omaha, NE 68107
      </p>
      <a href="mailto:info@omahastem.com">info@omahastem.com</a>
    </div>
  </div>
</div>
