
.container {
  margin-top:25px;
}

.formcontainer {
  display: table;
  margin: 0 auto;

  width: 100%;
  padding-left:25px;
  padding-right:25px;
  padding-top: 25px;
  max-width: 650px;
  min-width: 250px;
}

.containerstem {
  display: table;
  margin: 0 auto;
  text-align: center;
}
.submit {
  text-align: right;
  margin-top:20px;
}

.item {
  margin-right: 50px;
}

.formheader {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.mat-divider {
  margin-top:10px;
  margin-bottom:20px;
}

.terms {
  text-decoration: underline;
  color:blue;
  &:hover {
    cursor: pointer;
  }
}

.errormessage {
  color:red;
  text-align: center;
  margin-bottom: 15px;
}

.registrationsection {
  margin-bottom: 25px;
  text-align: center;
}

.registrationbutton {
  margin-left:20px;
  margin-right:20px;
}

.reqmessage {
  margin-top:25px;
  font-size:smaller;
  text-align: center;
}

.termsmessage {
  text-align: center;
  font-size: smaller;
  margin-top:20px;
}

.submitsection {
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
}
