.eventCard {
  width:380px;
}

.cardheader {
  height:120px;
}

.cardimage {
  text-align: center;
  height:200px
}

.cardfooter {
  height: 50px;
  text-align: center;
}

.date {
	font-style: italic;
	font-size: 14px;
	font-weight: 500;
}

.event-title {
	font-size: 18px;
	font-weight: 500;
}
