<mat-card class="eventCard" >
    <p style= "font-size: 14px; font-weight: 450; word-wrap:normal;">{{ name }} </p>
    <p style="font-size: 14px; font-weight: 450; word-wrap:normal;">{{ date }}</p>
  <mat-card-content>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <p>
      {{ event_type }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
