<mat-card class="container" class="eventCard">
  <div fxLayout="column">
    <div fxLayout="row">
      <p class="event-title">{{ name }} </p>
      <button *ngIf="can_edit" class="editButton" mat-icon-button [routerLink]="['/events/edit', id]">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <p class="date">{{ date | date:'longDate' }}</p>
    <p class="date">{{ event_address }}</p>
  </div>
  <img [src]="getImageSource()">
  <mat-chip-list class="container">
    <mat-chip *ngFor="let tag of tags">{{ tag | lowercase }}</mat-chip>
  </mat-chip-list>
  <button mat-button>SIGNUP</button>
</mat-card>
