<h2 mat-dialog-title>Omaha STEM Ecosystem Portal</h2>

<mat-dialog-content class="mat-typography">
  <h3>Terms of use policy</h3>
  <p>This is where all the legal stuff goes.</p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida augue a sapien dictum
    pharetra. Sed nec purus eu ante convallis eleifend in in massa. Curabitur pretium ligula in diam
    fermentum euismod. Mauris vitae dolor leo. Praesent feugiat placerat fermentum. Nulla facilisi.
    Quisque vestibulum, tortor eu vestibulum suscipit, odio est feugiat arcu, id venenatis orci
    velit et erat. Phasellus et ligula quis eros dignissim auctor id quis tellus. Praesent maximus
    imperdiet diam in tincidunt. Nunc id neque quam.
  </p>

  <p>
    Aliquam ac luctus erat. Mauris vel maximus turpis. Mauris convallis risus quis lacus egestas,
    vel imperdiet odio pharetra. Nam rhoncus cursus varius. Sed blandit, erat ac pretium eleifend,
    ex erat pellentesque dolor, ac congue lacus eros sed risus. Pellentesque at odio justo.
    Suspendisse ultricies lacus nec consectetur tincidunt. Vestibulum feugiat, ligula vitae
    hendrerit placerat, ligula turpis vulputate massa, ut suscipit odio tortor id justo. Vestibulum
    pulvinar nunc velit, sed iaculis justo finibus sit amet. Suspendisse fringilla lobortis
    bibendum. Curabitur auctor sapien ac neque tincidunt pulvinar. Nunc consectetur nulla nec urna
    aliquam convallis. Aliquam libero velit, pulvinar sed facilisis in, consectetur et eros. Integer
    ornare, risus et consequat porttitor, diam ante iaculis lorem, eget maximus augue lacus sed
    magna.
  </p>

  <p>
    Integer et felis mattis, pretium dolor congue, rhoncus ante. Phasellus erat sem, fermentum eu
    fringilla et, efficitur molestie metus. Donec augue dui, tincidunt nec odio vel, congue lobortis
    libero. Duis lacinia, nibh non egestas sodales, lectus erat consequat purus, a dignissim dui
    lorem hendrerit leo. Morbi pulvinar libero ipsum. Fusce non aliquam sapien. Nulla luctus nunc ac
    sagittis dapibus. Phasellus et scelerisque nisl. Donec at lorem condimentum, ullamcorper nunc
    sit amet, laoreet elit. Sed at nisi at elit iaculis semper id ac ex.
  </p>

  <p>
    Nam vitae purus ornare nulla viverra pellentesque eget eget quam. Maecenas ut nibh in urna
    semper sollicitudin. Duis nec tincidunt felis. Pellentesque et pulvinar lectus. Donec vel
    volutpat magna, pulvinar viverra dolor. Aenean euismod consequat maximus. Maecenas dolor justo,
    fringilla vel ex sit amet, pretium eleifend nibh. Phasellus vel varius lorem. Integer hendrerit
    vulputate magna, sed fringilla tortor ultricies nec. Vivamus rhoncus augue eu mattis auctor.
    Etiam mollis gravida accumsan.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
