<div style="width:300px">
  <h2 mat-dialog-title>Change Password</h2>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
      <div *ngIf="error" class="errormessage">{{error}}</div>
      <div fxLayout="column" fxLayoutGap="25px">
        <mat-form-field fxFlex>
          <input matInput placeholder="Current Password" formControlName="currentPassword" type="password" />
          <mat-error *ngIf="updateForm.get('currentPassword').invalid">
            {{ getErrorMessage('currentPassword') }}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="New Password" formControlName="newPassword" type="password" />
          <mat-error *ngIf="updateForm.get('newPassword').invalid">
              Must be 8 - 20 characters: 1 upppercase, 1 lowercase, 1 number.
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Confirm New Password" formControlName="confirmNewPassword" type="password" />
          <mat-error *ngIf="updateForm.get('confirmNewPassword').invalid">
            {{ getErrorMessage('confirmNewPassword') }}
          </mat-error>
        </mat-form-field>
      </div>

  </mat-dialog-content>

  <mat-dialog-actions>
    <span style="width:50%">
      <button class="mat-raised-button" (click)="close()" type="button">
        Cancel
      </button>
    </span>
    <span style="width:50%; text-align:end">
      <button class="mat-raised-button mat-primary" type="submit" [disabled]="!updateForm.valid">
        Change Password
      </button>
    </span>
  </mat-dialog-actions>
</form>
</div>

