<div class="container" fxLayout="row" fxLayout.lt-md="column">
  <div fxFlex>
    <div class="containerfor">
      <form (ngSubmit)="onSubmit()" [formGroup]="eventForm">
        <div class="formheader">
          <strong>Create a New Event</strong>
        </div>
        <mat-divider></mat-divider>

        <div fxLayout="column" fxLayoutAlign="center stretch" formGroupName="eventGroup">
          <mat-form-field fxFlex="48" fxFlex.lt-sm="90">
            <input matInput placeholder="Event Name" formControlName="name" />
            <mat-error *ngIf="eventForm.get('eventGroup').get('name').invalid">
              {{ getErrorMessage('eventGroup', 'name') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48" fxFlex.lt-sm="90">
            <input matInput [matDatepicker]="myDatepicker" placeholder="Event Date" formControlName="date" />
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
            <mat-error *ngIf="eventForm.get('eventGroup').get('date').invalid">
              {{ getErrorMessage('eventGroup', 'date') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48" fxFlex.lt-sm="90">
            <mat-select matSelect placeholder="Event Type" formControlName="e_type">
              <mat-option *ngFor="let type of event_types" [value]="type">{{type}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Tags</mat-label>
            <mat-select matSelect placeholder="Tags" formControlName="tags" multiple [compareWith]="comparer">
              <mat-option *ngFor="let tag of tags" [value]="tag">{{tag.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="text-align: center; margin-top:20px; margin-bottom:20px;">
          <button type="submit" mat-raised-button>Create Event</button>
        </div>
      </form>
    </div>
  </div>

  <div fxFlex="30">
    <div class="containerstem">
      <img src="../../assets/images/OSE-Logo-for-Website--300x216.jpg" />
      <p><strong>Find Us</strong></p>
      <p>
        <strong>Address</strong>
        <br />
        3701 South 10th Street
        <br />
        Omaha, NE 68107
      </p>
      <a href="mailto:info@omahastem.com">info@omahastem.com</a>
    </div>
  </div>
</div>