/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
    margin: 10px;
}

.owl-carousel {
	.owl-stage {
        display: flex;
	}
	.owl-item {
		display: flex;
		flex: 1 0 auto;
	}
	.caption {
		display: flex;
		flex: 1 0 auto;
		flex-direction: column;
	}
	.flex-text {
		flex-grow: 1
	}
	.thumbnail {
		display: flex;
		flex-direction: column;
		margin: 0 15px;
	}
}

.date {
	font-style: italic;
	font-size: 14px;
	font-weight: 500;
}

.event-title {
	font-size: 18px;
	font-weight: 500;
}